
.frame-child {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
  }
  .author {
  font-weight: 600;
  }
  .tagsc2default {
  border-radius: 12px;
  background-color: #f4f8ec;
  display: flex;
  flex-direction: row;
  padding: 0px 8px;
  align-items: center;
  justify-content: flex-start;
  color: #6a983c;
  }
  .author-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  }
  .div {
  font-family: "Open Sans";
  color: #d1d1d1;
  }
  .frame-parent {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  }
  .ellipse-parent {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  }
  .hi-everyone {
  margin: 0;
  }
  .hi-everyone-we-container {
  align-self: stretch;
  font-size: 14px;
  font-family: "Open Sans";
  }
  .blogcomments-specific {
  border-radius: 12px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  text-align: left;
  font-size: 12px;
  color: #151515;
  font-family: "Poppins";
  margin-top: 16px;
  }
  .blogcomments-specificc {
    margin-left: 120px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    width: 468px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: flex-start;
    justify-content: end;
    gap: 24px;
    text-align: left;
    font-size: 12px;
    color: #151515;
    font-family: "Poppins";
    margin-top: 16px;
    }