.header {
  &__nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    &-first {
      display: flex;
      gap: 33px;
      align-items: center;
    }


    &-second {
    }


    &__text {
      color: #6a983c;
      font-family: "Open Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      &-tel {
        color: #151515;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }


    &__link {
      color: #151515;
      font-family: "Open Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 38px;
    }


    &__item {
      &-link {
        color: #6a983c;
        font-family: "Open Sans";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }

  &__wrap {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    

    option {
      color: #6a983c;
      border: white;
    }

    &__text {
      color: #151515;
      font-family: "Poppins";
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-right: 1px solid;
      padding-right: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        content: url(../../img/ic-chevron-down.svg);
        padding-left: 8px;
        padding-top: 5px;
      }
    }

    &__input {
      border: none;
      color: #a9a9a9;
      font-family: "Open Sans";
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__last {
      display: flex;
      align-items: center;
      gap: 40px;
    }
  }

  &__category {
    width: 100%;
    padding-top: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    &__selectors {
      color: #151515;
      font-family: "Poppins";
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      display: flex;
      align-items: center;

      &::after {
        content: url(../../img/ic-chevron-down.svg);
        padding-left: 8px;
        padding-top: 5px;
      }
    }
  }
}
