.headline {
  padding-top: 70px;
  padding-bottom: 64px;
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: start;

    &-head {
      display: flex;
      flex-direction: column;
      margin-bottom: 37px;
      color: #151515;

      font-family: "Poppins";
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;

      &-second {
        color: #151515;
        font-family: "Poppins";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 4px;
      }
    }
    &-text {
      color: #575757;
      font-family: "Open Sans";
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 16px;
     

      &__second {
      }
    }
    &__cards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__card {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      width: 268px;
      padding: 16px;
      border-radius: 12px;
      border: 1px solid #d1d1d1;
      background: #fff;
    }

    &__card__img {
      width: 236px;
      height: 180px;
      padding-bottom: 16px;
      text-align: center;
      background-color: white;
      margin-bottom: 16px;
    }

    &__price {
      width: 100%;
      justify-content: space-between;
      display: flex;
      align-items: center;

      &-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &__btn {
      color: #fff;

      font-family: "Poppins";
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      border-radius: 12px;
      border: 2px solid #46760a;
      background: #6a983c;
      padding: 12px;
      cursor: pointer;
    }
  }
}
