.hero {
    padding-top: 56px;

    &__head__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__head__left {
        display: flex;
        gap: 44px;
    }

    &__title {
        font-size: 32px;
        font-weight: 600;
    }

    &__text {
        font-size: 12px;
        font-weight: 400;

        &--active {
            display: flex;
            align-items: center;
            gap: 4px;
            &::before {
                content: url(../../img/icon-navigation.png);
            }
            &__list {
                display: flex;
                align-items: center;
                gap: 4px;
                &::before {
                    content: url(../../img/nav-icon.png);
                }
            }
            &__products {
                display: flex;
                align-items: center;
                gap: 4px;
                &::before {
                    content: url(../../img/navigation-icon.png);
                }
            }
        }
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 24px;
    }

    &__left {
        width: 570px;
        height: 400px;
        background-image: url(../../img/Blog/Blog/Post/Basics/Image-dark.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__right {
        width: 570px;
        height: 400px;
        background-image: url(../../img/Blog-2/Blog/Post/Basics/Rectangle\ 26.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}